/* /Components/Brands.razor.rz.scp.css */
/* /Components/ESL.razor.rz.scp.css */
/*.h {
    width: 100%;*/ /* Установите ширину контейнера */
    /*height: 700px;*/ /* Контролируйте высоту контейнера */
    /*overflow: hidden;*/ /* Скрытие содержимого, выходящего за границы контейнера */
    /*position: relative;
}*/

.bg-image[b-50ppwdq8sr] {
    position: relative;
    background-image: url('esl-background.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}

    .bg-image[b-50ppwdq8sr]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        z-index: 1;
    }

.content[b-50ppwdq8sr] {
    position: relative;
    z-index: 2;
    color: white;
}

.title-logo[b-50ppwdq8sr] {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    /*            margin-right: 20px;*/
}

.game-logo[b-50ppwdq8sr] {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.modal-dialog[b-50ppwdq8sr] {
    max-width: 70%;
    max-height: 80vh;
}

.modal-body[b-50ppwdq8sr] {
    padding: 0;
}

.modal-content[b-50ppwdq8sr] {
    border: none;
    border-radius: 0; /* Убедитесь, что это применимо */
    background-color: transparent;
}

    .modal-content img[b-50ppwdq8sr] {
        width: 100%;
        height: auto;
        border-radius: 25px; /* Скругление углов изображения */
        object-fit: cover;
    }

.carousel-control-prev[b-50ppwdq8sr],
.carousel-control-next[b-50ppwdq8sr] {
    width: 5%;
    color: white;
}

.carousel-control-prev-icon[b-50ppwdq8sr],
.carousel-control-next-icon[b-50ppwdq8sr] {
    /*            background-color: rgba(0, 0, 0, 0.5);*/
    border-radius: 50%;
}
/* /Components/ESLOnline.razor.rz.scp.css */
.bg-image[b-5frf5fn8qr] {
    position: relative;
    background-image: url('background.png');
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    overflow: hidden;
}

    .bg-image[b-5frf5fn8qr]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(8px);
        z-index: 1;
    }

.content[b-5frf5fn8qr] {
    position: relative;
    z-index: 2;
    color: white;
}

.title-logo[b-5frf5fn8qr] {
    width: 80px;
    height: 80px;
    border-radius: 15px;
    /*            margin-right: 20px;*/
}

.game-logo[b-5frf5fn8qr] {
    width: 100px;
    height: 100px;
    border-radius: 15px;
    margin-right: 20px;
}

.modal-dialog[b-5frf5fn8qr] {
    max-width: 70%;
    max-height: 80vh;
}

.modal-body[b-5frf5fn8qr] {
    padding: 0;
}

.modal-content[b-5frf5fn8qr] {
    border: none;
    border-radius: 0; /* Убедитесь, что это применимо */
    background-color: transparent;
}

    .modal-content img[b-5frf5fn8qr] {
        width: 100%;
        height: auto;
        border-radius: 25px; /* Скругление углов изображения */
        object-fit: cover;
    }

.carousel-control-prev[b-5frf5fn8qr],
.carousel-control-next[b-5frf5fn8qr] {
    width: 5%;
    color: white;
}

.carousel-control-prev-icon[b-5frf5fn8qr],
.carousel-control-next-icon[b-5frf5fn8qr] {
    /*            background-color: rgba(0, 0, 0, 0.5);*/
    border-radius: 50%;
}
/* /Components/Line.razor.rz.scp.css */
.body[b-wl1lmf7wzf]{
    height: 25px;
}
/* /Components/LineWarning.razor.rz.scp.css */
.stripe-container[b-3fp0ixfqnf] {
    width: 100%; /* Установите ширину контейнера */
    height: 20px; /* Контролируйте высоту контейнера */
    overflow: hidden; /* Скрытие содержимого, выходящего за границы контейнера */
    position: relative;
}

.stripe[b-3fp0ixfqnf] {
    width: 100%; /* Ширина полоски */
    height: 100%; /* Высота полоски соответствует высоте контейнера */
    background-image: url('warning.png'); /* Путь к изображению */
    background-repeat: repeat-x; /* Повторение изображения по горизонтали */
    background-size: auto 100%; /* Масштабирование по вертикали, чтобы соответствовать высоте контейнера */
    position: absolute;
    top: 0;
    left: 0;
}
/* /Components/Presentation.razor.rz.scp.css */
/* Стили для текста */
.text-white[b-yf5ng1mg4a] {
    color: #fff; /* Белый цвет текста */
}

/* Применение стандартного шрифта Bootstrap */
body[b-yf5ng1mg4a] {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

/* Дополнительные стили для lead класса */
.lead[b-yf5ng1mg4a] {
    font-size: 1.25rem; /* Размер шрифта, измените по вашему усмотрению */
    font-weight: 400; /* Нормальная жирность шрифта */
}

/* Основной фон для секции */
.background-blur[b-yf5ng1mg4a] {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('presentation-bgr.jpg') no-repeat center center;
    background-size: cover;
    filter: blur(10px);
    z-index: -1;
}

    /* Псевдо-элемент для темного налета */
    .background-blur[b-yf5ng1mg4a]::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5); /* Черный цвет с 50% непрозрачностью */
        z-index: 1; /* Помещает налет поверх фонового изображения, но под контентом */
    }

/* Контейнер для контента */
.content[b-yf5ng1mg4a] {
    position: relative;
    z-index: 1;
    width: 100%;
}

.circle-image[b-yf5ng1mg4a] {
    width: 150px;
    height: 150px;
    border-radius: 5px; /* Скругленные углы */
    object-fit: cover; /* Чтобы изображение заполняло весь квадрат без искажений */
    position: relative; /* Для смещения изображений */
}

.img-1[b-yf5ng1mg4a] {
    top: -10px;
    left: 100px;
    width: 150px;
    height: 150px;
}

.img-2[b-yf5ng1mg4a] {
    top: 15px;
    left: -10px;
    width: 200px;
    height: 200px;
}

.img-3[b-yf5ng1mg4a] {
    top: 20px;
    left: 110px;
    width: 150px;
    height: 150px;
}

.img-4[b-yf5ng1mg4a] {
    top: -20px;
    right: 150px;
    width: 150px;
    height: 150px;
}

.img-5[b-yf5ng1mg4a] {
    top: -15px;
    right: 10px;
    width: 200px;
    height: 200px;
}

.img-6[b-yf5ng1mg4a] {
    top: 5px;
    right: 100px;
    width: 150px;
    height: 150px;
}

}/*body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;*/ /* Скрываем всё, что выходит за границы контейнера */
    /*border: 2px solid #000;*/ /* Опционально, для визуального отображения границ контейнера */
/*}

.text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    font-weight: bold;
    z-index: 1;
}

.circle {
    position: relative;
    width: 100%;
    height: 100%;
}

.circle-image {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 15px;*/ /* Скругленные углы */
    /*object-fit: cover;*/ /* Чтобы изображение заполняло весь квадрат без искажений */
/*}

    .circle-image:nth-child(1) {
        top: 5%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .circle-image:nth-child(2) {
        top: 25%;
        left: 85%;
        transform: translate(-50%, -50%);
    }

    .circle-image:nth-child(3) {
        top: 75%;
        left: 85%;
        transform: translate(-50%, -50%);
    }

    .circle-image:nth-child(4) {
        top: 95%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .circle-image:nth-child(5) {
        top: 75%;
        left: 15%;
        transform: translate(-50%, -50%);
    }

    .circle-image:nth-child(6) {
        top: 25%;
        left: 15%;
        transform: translate(-50%, -50%);
    }*/
/* /Layout/MainLayout.razor.rz.scp.css */
/* /Layout/NavMenu.razor.rz.scp.css */
/* �������� ����� ��� ������������� ������ */
.navbar-custom[b-681xbwqgke] {
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px); /* ������ �������� ���� */
    background-color: rgba(255, 255, 255, 1); /* �������������� ����� ��� */
    z-index: 1000; /* ������ ������ ������ ������ ��������� */
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); /* ������ ������� ��� ��������� */
}

/* ���������� ����� ��� ��������� � ������ */
.image[b-681xbwqgke] {
    max-width: 80px; /* ������������� ������������ ������ ��� ��������� */
    height: auto;
    border-radius: 15px;
}

.contact-icon[b-681xbwqgke] {
    font-size: 24px; /* ������ ������ */
    color: #000; /* ���� ������ */
}
/* /Pages/MainPage.razor.rz.scp.css */
